Java Web Server/src/main/webapp/wsdl/FilmDeleteController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controllers" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controllers" xmlns:intf="http://controllers" xmlns:tns1="http://http.servlet.javax" xmlns:tns2="http://models" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controllers" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models"/>
   <import namespace="http://http.servlet.javax"/>
   <element name="deleteFilmById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="response" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteFilmByIdResponse">
    <complexType>
     <sequence>
      <element name="deleteFilmByIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteFilm">
    <complexType>
     <sequence>
      <element name="f" type="tns2:Film"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteFilmResponse">
    <complexType>
     <sequence>
      <element name="deleteFilmReturn" type="tns2:Film"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://http.servlet.javax"/>
   <complexType name="Film">
    <sequence>
     <element name="director" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="rating" nillable="true" type="xsd:int"/>
     <element name="review" nillable="true" type="xsd:string"/>
     <element name="stars" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="year" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteFilmResponse">

      <wsdl:part element="impl:deleteFilmResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFilmRequest">

      <wsdl:part element="impl:deleteFilm" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFilmByIdResponse">

      <wsdl:part element="impl:deleteFilmByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFilmByIdRequest">

      <wsdl:part element="impl:deleteFilmById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FilmDeleteController">

      <wsdl:operation name="deleteFilmById">

         <wsdl:input message="impl:deleteFilmByIdRequest" name="deleteFilmByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteFilmByIdResponse" name="deleteFilmByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFilm">

         <wsdl:input message="impl:deleteFilmRequest" name="deleteFilmRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteFilmResponse" name="deleteFilmResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FilmDeleteControllerSoapBinding" type="impl:FilmDeleteController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteFilmById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFilmByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteFilmByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFilm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFilmRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteFilmResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FilmDeleteControllerService">

      <wsdl:port binding="impl:FilmDeleteControllerSoapBinding" name="FilmDeleteController">

         <wsdlsoap:address location="http://localhost:8080/EnterpriseProjectv2/services/FilmDeleteController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
